.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 120px;
  padding: 0.3em;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.form-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  border: 1.5px solid rgb(146, 146, 146);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 60%;
  width: 100%;
}

.file-name-container {
  display: flex;
  align-items: center;
  padding-left: 5%;
  width: auto;
}
.file-name {
  height: 25px;
}
.form-buttons-container {
  position: absolute;
  left: 78%;
  top: 54%;
  width: auto;
  padding-bottom: 1%;
  flex-direction: row;
}

.form-button {
  cursor: pointer;
}

.select-file-button {
  margin-bottom: 5px;
  border: 1px solid #337ab7;
  background-color: #337ab7;
  background: white;
  border: none;
  color: white;
}

.select-file-button:hover {
  background-color: #29669b;
  background: white;
  color: white;
}

.submit-button {
  color: #333;
  background-color: rgb(228, 228, 228);
  border: 1px solid black;
  height: 28px;
}

.submit-button:hover {
  background-color: rgb(161, 161, 161);
}

.form-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field {
  border: 1px solid black;
  border-radius: 3px;
  height: 20px;
  width: 145%;
  margin-bottom: 5px;
  padding: 5px;
}

.form-header {
  padding: 5px;
  text-align: left;
  font-size: 20px;
  color: white;
  border: 1px solid rgb(95, 95, 95);
  background-color: rgb(95, 95, 95);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 98.7%;
}

.daily-entry-upload-header {
  background-color: #50006b;
}

.empty-active-upload-header {
  background-color: #008996;
}

.not-putaway-upload-header {
  background-color: #00b159;
}

.transitional-upload-header {
  background-color: #cfaf47;
}

.adjustment-data-upload-header {
  background-color: #cc2a36;
}

.cycle-count-upload-header {
  background-color: #eb6841;
}

.alt-footer {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
}

.duplicates-warning {
  cursor: pointer;
  width: auto;
  height: auto;
  background-color: whitesmoke;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: #333;
  color: rgb(194, 0, 0);
}

.last-update-label {
  font-size: 16px;
  font-weight: 500;
  color: rgb(85, 85, 85);
}

.last-update-value {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 59, 136);
}

._loading_overlay_wrapper {
  width: 100%;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  .duplicates-warning {
    cursor: pointer;
    background-color: whitesmoke;
    padding: 1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    color: rgb(194, 0, 0);
  }
}
